protected/runtime/
assets/
!assets/.gittouch
protected/config/main.php
protected/config/console.php
protected/vendor/yii/*
images/uploads/*
librarydiff
protected/runtime/*
protected/tests/cucumber/webrat.log
